<ul>
	<li>
		{{#link-to "issues"}}All{{/link-to}}
	</li>    		
	<li>
		{{#link-to "issues.by-client" "issues" "marriott"}}Marriott{{/link-to}}
	</li>   		
	<li>
		{{#link-to "issues.by-client" "issues" "yahoo"}}Yahoo{{/link-to}}
	</li>		
	<li>
		{{#link-to "issues.by-client" "issues" "eightshapes"}}EightShapes{{/link-to}}
	</li>
</ul>