<div class="client-filter-wrapper">
	<h5 class="client-filter-label">Filter by client:</h5>
	<ul class="client-filter">
		<li>
			{{#link-to "issues.index"}}All{{/link-to}}
		</li>    		
		<li>
			{{#link-to "issues.by-client" "issues" "marriott"}}Marriott{{/link-to}}
		</li>   		
		<li>
			{{#link-to "issues.by-client" "issues" "yahoo"}}Yahoo{{/link-to}}
		</li>		
		<li>
			{{#link-to "issues.by-client" "issues" "eightshapes"}}EightShapes{{/link-to}}
		</li>
	</ul>
</div>