<div class="github-sync-wrapper">
	<div class="github-sync-progress progress">
		<div {{bind-attr style="progress_bar_width"}} {{bind-attr class=":github-sync-progress-inner :progress-bar :progress-bar-striped github_sync_complete:complete:active"}}>
			       				
		</div>
	</div>
	<button {{action "syncGithubIssues"}} class="btn btn-default github-sync-btn glyphicon"><span {{bind-attr class=":sync-icon :glyphicon :glyphicon-refresh syncing"}}></span>Sync Now</button>
</div>