<h4 class="issues-count">Showing: {{visible}} {{inflection}}</h4>
{{partial "shared/client_filter"}}
<ul class="issue-list">
	{{#each itemController="issue"}}
		{{partial "shared/issue_list_item"}}
	{{/each}}
</ul>