<div class="issue-list-wrap" ng-controller="IssuesController as issuesCtrl">
	<h4 class="issues-count">Showing: <ng-pluralize count="issuesCtrl.filtered_issues.length" when="{'0': 'No issues', 'one': '1 issue', 'other':'{} issues'}"></ng-pluralize></h4>
	<div class="client-filter-wrapper">
		<h5 class="client-filter-label">Filter by client:</h5>
		<ul class="client-filter" ng-controller="ClientReposController as clientsCtrl">
			<li><a href="#" class="client-filter-link" ng-click="issuesCtrl.filter_issues_by_client('all')">All</a></li>
			<li ng-repeat="client in clientsCtrl.client_names">
				<a href="#" class="client-filter-link" ng-click="issuesCtrl.filter_issues_by_client(client.client_name)">{{client.client_name}}</a>
			</li>    		
		</ul>
	</div>

	<ul class="issue-list">
		<li ng-repeat="issue in issuesCtrl.filtered_issues" ng-class="[issue.state, issue.client_name, 'issue-list-item']" ng-attr-data-issue-id="{{issue.id}}">
			<h2 class="issue-list-item-title"><a ng-href="{{issue.html_url}}">{{issue.title}}</a></h2>
			<span class="issue-list-item-number">#{{issue.number}}</span>
			<a class="repo-link" ng-href="{{'http://github.com/' + issue.repo_name}}">{{issue.repo_name}}</a>
			<small class="text-muted" ng-show="issue.milestone_name">{{issue.milestone_name}} <span ng-show="issue.milestone_due_on">due in {{issue.milestone_due_on | amDifference : null : 'days'}} days</span></small>
			<button ng-show="issue.closed" ng-click="archive_issue(issue.id)" class="btn btn-default archive-btn">Archive This Issue</button>
			<span class="issue-labels">
				<span ng-repeat="label in issue.labels" class="badge" ng-style="{'background-color':'#{{label.color}}', 'color':'{{label.text_color}}'}">{{label.name}}</span>
			</span>
		</li>
	</ul>
</div>