<script type="text/x-handlebars">
	<div class="github-sync-progress">
		<div class="github-sync-progress-inner">
			       				
		</div>
	</div>
	<button {{action "syncGithubIssues"}} class="btn btn-default">Sync Now</button>
	{{outlet}}
</script>