<h1><%= pluralize(@github_issues.count, "Issue") %></h1>
<% unless @github_issues.nil? %>
	<ul class="issue-list">
		<% @github_issues.each do |issue| %>
			<%= render 'shared/issue_list_item', issue: issue %>
		<% end %>
	</ul>
<% end %>